
    <h2><?= h($post['Post']['title']) ?></h2>
    <p><?= h($post['Post']['body']) ?></p>
    <small>Created: <?= h($post['Post']['created']) ?></small>
    <p><?= $this->Html->link(__("List Post"),array('action' => 'index')) ?></p>
